
body {
  font-size: 20px;
  background-color: orange;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}


h2 {
  text-align: center;
  text-decoration: underline;
  color: darkgreen;
}

img {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}


ol, ul {
  margin-left: 40px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
}


b p {
  font-weight: bold;
  color: maroon;
}


table {
  width: 60%;
  border-collapse: collapse;
  margin: 20px auto;
}

th, td {
  border: 1px solid #444;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
}

caption {
  font-size: 1.5em;
  margin-bottom: 10px;
}


video {
  display: block;
  margin: 20px auto;
  max-width: 80%;
}