
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}


.container {
  display: flex;
  flex-wrap: wrap;
}


.sidebar {
  background: #f4f4f4;
  padding: 15px;
  box-sizing: border-box;
}

.content {
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
}


.sidebar {
  float: left;
}
.content {
  float: left;
}
.container::after {
  content: "";
  display: block;
  clear: both;
}


@media (max-width: 599px) {
  .sidebar, .content {
    width: 100%;
  }
}


@media (min-width: 600px) and (max-width: 899px) {
  .sidebar {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}


@media (min-width: 900px) {
  .sidebar {
    width: 25%;
  }
  .content {
    width: 75%;
  }
  .container {
    flex-direction: row;
  }
}